#shadow_Image {
  pointer-events: none;
  opacity: 70%;
}

body {
  display: flex;
}

/*  possible styling to the div - shouldn't ruin the animation */
#svgDiv {
  border: solid 1px black;
  border-radius: 50% 50% 0 0;
  height: 40vw;
  width: 40vw;
}

.color_btn {
  cursor: pointer;
}

.g_to_interact {
  fill: white;
  width: 100vw;
}
.g_to_interact:hover {
  fill: gray;
  cursor: pointer;
}

#shadow_Image-2 {
  pointer-events: none;
}
#buttons-container {
  height: fit-content;
  width: fit-content;
}

#buttons {
  padding: 20px;
}

svg {
  overflow: visible;
  /* width: 50vw; */
}
#plantsToChoose img {
  width: 100%;
}
#plantsToChoose figure {
  width: 8vw;
  text-align: center;
}
#plantsToChoose {
  display: flex;
}
.hide {
  opacity: 0;
}
#preview img {
  position: absolute;
  height: 40vw;
  width: 40vw;
  height: auto;
  top: 0;
  left: 0;
  pointer-events: none;
}
#preview {
  /* width: 60%;
  height: 100%; */
  position: relative;
}
#configurator {
  width: 50%;
}
