@font-face {
  font-family: "Magilio";
  src: url("assets/MagilioRegular-Yzv2O.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-1: #314b1d;
  --color-2:#4D89E3;
  --color-3:#4A4848;
  --color-4:#F7F7F7;
  --font-1:font-family: "Magilio";
  --font-2:Arial, Helvetica, sans-serif
}
header {
  font-family: "Magilio";
}

body{
  background-color: var(--color-4);
  background-image: url(assets/Group\ 4.svg);
  background-repeat: none;
  background-size: 140%;
  background-position:center;
background-position-x: 45%;
background-position-y:40%
}

#shadow_Image {
  pointer-events: none;
  opacity: 70%;
}

h1 {
  margin-left: 46%;
  margin-top: 4vw;
  margin-bottom: 4vw;

  color: var(--color-1);
  font-size: 3.75vw;
}
h2 {
  margin: 0;
  font-size: 1.5vw;
  color: var(--color-3);
}
main {
  display: flex;
}

figcaption{font-family:var(--font-2) ;
font-size: 1vw;}

#preview {
  margin: 1vw 0vw 5vw 10vw;
}
#colour_buttons {
  display: flex;
  flex-direction: row;
}

input {
  visibility: hidden;
}

label {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 16px;
  margin-left: 0;
  border: solid 1px;
}


/* #color-input{
  font-size: 1.5vw;
  margin-bottom: 3vw;

} */
#svgDiv {
  background-color: white;
  border: solid 3px #EBE3DC;
  border-radius: 50% 50% 0 0;
  height: 32vw;
  width: 25vw;
  box-shadow: 1px 1px 8px 1px #acacac;
 
}

.color_btn {
  cursor: pointer;
  width: "100";
  height: "100";
  padding: 10vw;
}
#buttons {
  display: flex;
}
#stand {
  /* z-index: -1; */
}

.g_to_interact {
  fill: white;
  width: 100vw;
}
.g_to_interact:hover {
  fill: gray;
  cursor: pointer;
}

#shadow_Image-2 {
  pointer-events: none;
}
#buttons-container {
  height: fit-content;
  width: fit-content;
  
}

#buttons {
  margin-top: 1rem;
}

#preview svg {
  overflow: visible;
  padding-top: 80px;

  /* width: 50vw; */
}

#options img {
  width: 75%;
}
#options figure {
  width: 9vw;
  text-align: center;
  margin: 2vw 0 0 0;
}
#optionsPlants,
#optionsElse {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vw;
  margin-top: -1vw;
  width: 60%;
}
.hide {
  opacity: 0;
}
#preview img {
  position: absolute;
  height: 32vw;
  width: 25vw;
  height: auto;
  top: 80px;
  left: 0;
  pointer-events: none;
}

#preview {
  /* width: 60%;
  height: 100%; */
  position: relative;
}
#configurator {
  width: 47%;
}
