@font-face {
  font-family: "Magilio";
  src: url("assets/MagilioRegular-Yzv2O.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-1: #314b1d;
  --font-1:font-family: "Magilio";
  --font-2:Arial, Helvetica, sans-serif
}
header {
  font-family: "Magilio";
}

#shadow_Image {
  pointer-events: none;
  opacity: 70%;
}

h1 {
  margin-left: 6%;
  margin-top: 4vw;
  color: var(--color-1);
  font-size: 3.75vw;
}
h2 {
  margin: 0;
  font-size: 1.8vw;
}
main {
  display: flex;
}

/*  possible styling to the div - shouldn't ruin the animation */

#preview {
  margin: 1vw 0vw 2vw 7vw;
}
#colour_buttons {
  display: flex;
  flex-direction: row;
}

input {
  visibility: hidden;
}

label {
  background-color: white;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-top: 15px;
  border: solid 1px;
}
#input-label {
  margin-top: 20px;
  width: 6vw;
  font-family: var(--font-2);
  font-size: 1vw;
}

#svgDiv {
  border: solid 3px var(--color-1);
  border-radius: 50% 50% 0 0;
  height: 35vw;
  width: 29vw;
  box-shadow: 1px 1px 8px 1px #6a6969;
}

.color_btn {
  cursor: pointer;
  width: "100";
  height: "100";
  padding: 10vw;
}
#buttons {
  display: flex;
}
#stand {
  z-index: -1;
}

.g_to_interact {
  fill: white;
  width: 100vw;
}
.g_to_interact:hover {
  fill: gray;
  cursor: pointer;
}

#shadow_Image-2 {
  pointer-events: none;
}
#buttons-container {
  height: fit-content;
  width: fit-content;
  margin-top: 3vw;
}

#buttons {
  margin-top: 1rem;
}

#preview svg {
  overflow: visible;
  padding-top: 80px;

  /* width: 50vw; */
}

#options img {
  width: 75%;
}
#options figure {
  width: 9vw;
  text-align: center;
  margin: 2vw 0 0 0;
}
#optionsPlants,
#optionsElse {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
  width: 80%;
}
.hide {
  opacity: 0;
}
#preview img {
  position: absolute;
  height: 35vw;
  width: 29vw;
  height: auto;
  top: 80px;
  left: 0;
  pointer-events: none;
}

#preview {
  /* width: 60%;
  height: 100%; */
  position: relative;
}
#configurator {
  width: 47%;
}
